.wrapper {
    grid-template-rows: minmax(90px, auto) minmax(450px, auto) auto auto minmax(90px, auto);
}
/*---------------------
    HEADER
---------------------*/
header {
    padding: 0 50px;
}
header h1 {
    font-size: 2.4rem;
}
/*--------------------------
    RANDOM CARDS
---------------------------*/
.card-wrapper {
    width: 100%;
    min-height: 600px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 220px));
    justify-content: center;
    overflow-x: unset;
}
.card-item {
    width: unset;
}
/*----------------------
    FAVOURITES
    --------------------*/
    
.favourites__title {
    padding: 0 50px;
}
/*----------------
    UPLOAD DOG
    --------------*/
.upload__title {
    padding: 0 50px;
}
/*-------------------------
    FOOTER
    ----------------------*/
footer {
    padding: 30px 50px;
    font-size: 2rem;
}
